
  .certificados {
    display: flex;
    position: relative;
    height: 80vh;
    overflow: hidden;
    margin: 10px;
    
    
  }

  img{
    display: block;
    width: 70vh;
    border-radius: 8px;
    transition: transform 0.3s ease;
    
    margin: auto;
}
  
  
  .carrossel {
    position: relative;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    animation: scroll 15s linear infinite;
    
  }
  
  .html {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    user-select: none;
    margin: auto;
  }
  .git {
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    user-select: none;
  }
  .linux {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    user-select: none;
  }
  .react {
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    user-select: none;
  }
  .uiux {
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    user-select: none;
  }

  footer{
	background-color: #333;
	text-align: center;
	padding: 8px;
}
  
  /* Animação de scroll infinito */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  
  .blur {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
  }
  
  .blur.left {
    left: 0;
    background: linear-gradient(to right, rgba(240, 240, 240, 0.2), rgba(240, 240, 240, 0));
  }
  
  .blur.right {
    right: 0;
    background: linear-gradient(to left, rgba(240, 240, 240, 0.2), rgba(240, 240, 240, 0));
  }
  

@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}
@media(max-width:768px)
{
    nav .navlinks{
        position: fixed;
        overflow: hidden;
    }
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}

