*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.hero-header{
   background: #222;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    color:#e5e5e5;
    margin-right: 2.5rem;
}



.projetos {
    display: flex;
    flex-wrap: wrap;
    background: #222;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
       
}


h1{
    margin-top: 10px;
	text-transform: uppercase; 
    color:#007ced;
    font-size: 28px;
}

p{
    color:#e5e5e5;
    font-size: 18px;
}

h2 {
    color:#007ced;
    text-align: center;
}

span {
    color: red;
    font-weight: 800;
}

p {
    color: #fff;
}
a {
    text-decoration: none;
    display: inline-block;
  }
  
img{
    display: block;
    width: 70%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    border: 1px solid #007ced;
    margin: auto;
}

img:hover{
    transform: scale(1.1);
}

.itens{
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    justify-content: space-evenly; 
    margin-bottom: 25px;
}
.colafoto {
    box-shadow: 5px 5px 15px 15px rgba(255, 255, 255, .1);
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    padding: 15px;
}

.sitejogo {
    
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    padding: 15px;
}

.sitefsmsss {
    
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    padding: 15px;
}

.parallax {
    box-shadow: 5px 5px 15px 15px rgba(255, 255, 255, .1);
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    padding: 15px;
}

.caption {
   
    bottom: 15px; 
    left: 10px; 
    color: white;
    padding: 5px;
    font-size: 14px; 
  }
footer{
    
	background-color: #333;
	text-align: center;
	padding: 8px;
}



@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}
@media(max-width:768px)
{
    nav .navlinks{
        position: fixed;
        overflow: hidden;
    }
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}

@media(max-width:450px) {

.projetos{
    width: 100%;
    height: auto;
    
}

.colafoto {
    width: 85%;
    align-items: center;
    margin: auto;
}

.sitejogo {
    width: 85%;
    align-items: center;
    margin: auto;
}

.sitefsmsss {
    width: 85%;
    align-items: center;
    margin: auto;
}

.parallax {
    width: 85%;
    align-items: center;
    margin: auto;
}
img:hover{
    transform: scale(1.1);
}


}